@import "../../styles/variables";

.loginCard {
  margin: 24px auto;
  max-width: 900px;
  min-height: 704px;
  background-color: $white;
  border-radius: $default-bradius;
  padding: 25px 24px;

  &__header {
    display: flex;
    align-items: center;
    gap: $default-padding;
    padding-bottom: $default-padding;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    &__info {
      &__contacts {
        margin-top: 8px;
        display: flex;
        gap: 18px;
      }
    }
  }
  &__form {
    padding-top: $default-padding;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__input {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      &__error {
        color: #e05151;
      }
    }
  }
  button {
    justify-self: end;
    align-self: self-start;
    margin-top: 24px;
  }
}
