$black: #333333;
$primarybg: #f4f4f5;
$white: #ffffff;
$transparent: rgba(255, 255, 255, 0);
$default-bradius: 24px;
$default-btnbradius: 4px;
$default-padding: 24px;
$default-btnpadding: 12px 16px 12px 16px;

$primary50: #edf1ff;
$primary100: #dee6ff;
$primary200: #c3d0ff;
$primary300: #9fb0ff;
$primary400: #7986ff;
$primary500: #5558fa;
$primary600: #473cef;
$primary700: #3b2fd3;
$primary800: #3029aa;
$primary900: #2c2986;
$primary950: #1b184e;
